<div class="container">
    <!-- <ng-progress></ng-progress> -->
   <h2 class="head">Users.</h2>
  <div class="row">
      <div class="col-md-6">
           <!-- <div *ngFor='let users of users; let i=index'> -->
        
          <!-- </div> -->

       <h2>{{users.name}}</h2>
      </div>
  </div>
  <table class="table table-striped table-light">
        <tr>
          <td scope="row">Github Username:</td>
            <td> <a href="{{users.html_url}}" target="_blank">{{users.login}}</a></td>
        </tr>
        <br>
   <tr>
       <td scope="row">Repositories:</td>
       <td>{{users.public_repos}}</td>
   </tr>
    <br>
   <tr>
       <td scope ="row">Date:</td>
       <td>{{users.created_at}}</td>
   </tr>
    <br>
   <tr>
       <td scope="rows">Followers:</td>
       <td>{{users.followers}}</td>
   </tr>
    <br>
   <tr>
       <td scope="row">Following:</td>
       <td>{{users.following}}</td>
   </tr>
    </table> 
   <div class="row">
       <div class="col-md-6">
           <img src="{{users.avatar_url}}">
       </div>
   </div> 
<br>
<!-- Repositories -->

    <div class="row">
        <div class="col-md-6">
            <h3 class ="repo">Repositories.</h3>
         <table class="table">
      <!-- <tr *ngFor='let repositories of repos '>

      </tr>-->
      <tr>
        <td scope="row">Repository name:</td>
          <td> <a href="{{repos.html_url}}" target="_blank">{{repos.name}}</a></td>

      </tr>
          <br>
          <tr>
            <td scope="row">Description:</td>
            <td>{{repos.description}}</td>
        </tr>
          <br>
          <tr>
            <td scope="row">Date:</td>
            <td>{{repos.created_at}}</td>
        </tr>
         </table>  
        
        
        </div>
      
    </div>
</div>



      

